<h1>Welcome to Secret Number!</h1>
 
<p>To play this game, all you have to do is guess r, p, or s. If you guess the <u>secret hand</u>, you win!</p>
 
<p>Choose carefully... you only get one try!</p>
 
<br/>
 
<h2>Pick a number:<h2>
 

  <%= link_to image_tag("rock_paper_scissors/rock.jpeg"), rock_paper_scissor_path(1) %>
  <%= link_to image_tag("rock_paper_scissors/paper.jpeg"), rock_paper_scissor_path(2) %>
  <%= link_to image_tag("rock_paper_scissors/scissors.jpeg"), rock_paper_scissor_path(3) %>
